@charset "ISO-8859-1";

html {
	color: #2E2E2E;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F2F2F2;

}

body {
	margin: 0px;
	padding-bottom: 20px;
	height: 100%;
}

.header {
	clear: both;
	padding: 10px;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: #FF69B4;
	color: #424242;
}

.body {
	margin: 10px;
}

.img {
	width: 150px;
	height: 150px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100% ;
	height: 20px;
	padding: 10px;
	background-color: #FF69B4;
	color:#fff;
}


.prodheading {
	width: 100%;
	height: 20px;
	background-color: #808080;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.prodContainer {
	position: inherit;
	height: auto;
	float: left;
}

table {
	width: 80%;
	margin-top: 20px;
}

td, td.center-col {
	height: 40px;
}

td.center-col {
	text-align: center;
}

td.right-col {
	text-align: right;
	padding-right: 15px;
}

th {
	color: #424242;
	border:1pt solid #808080;
}

td.tot {
	color: #424242;
	border:1pt solid #808080;
}
.tableContainer {
	padding-left: 20px;
}

#wrapper {
	margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}

.button-bar {
	float:left;
	clear: both;
}

.explanation {
	padding-left: 10px;
	font-size: x-small;
}

.confirmation {
	text-align: center;
}

